@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800;900&family=Roboto:wght@500;700;900&display=swap');

html,
body {
  height: 97vh;
}

body {
  background-color: #3a7766;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    "Header Header Header"
    ". Content Settings"
    ". Content ."
    ". . .";
  font-family: 'Raleway', sans-serif;
  color: #fafaf2;
  font-size: 24px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    "Header Header Header"
    ". Content Settings"
    ". Content ."
    ". . footer-info";
}

header {
  grid-area: Header;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.content {
  align-self: start;
  grid-area: Content;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

#timer {
  font-family: 'Roboto', sans-serif;
  font-size: 288px;
  margin-top: 0;
  margin-bottom: 0;
}

#stop {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  background-color: #56af97;
  border: none;
  color: #fafaf2;
  font-size: 48px;
  padding: 10px 70px 10px 70px;
  border-radius: 5px;
}

#stop:hover {
  box-shadow: 0 1px 2px #2c4a3f;
}

#bars {
  margin-left: 1%;
}

#cogs {
  margin-right: 1%;
}

#tasks {
  display: none;
}

#info {
  display: none;
}

#settings.hidden {
  display: none;
}

#settings {
  background: #fafaf2;
  border-radius: 5px;
  color: #1f3029;
  grid-area: Settings;
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 5pt 0;
  grid-template-areas:
    ". pomo_time"
    ". sb_time"
    ". lb_time"
    ". pomo_count";
  align-items: center;
  justify-items: start;
  justify-self: center;
  align-self: center;
}

.setting-input {
  border-style: solid;
  text-align: center;
  border-radius: 5px;
  border-width: 1pt;
  border-color: #b3dcd0;
  margin: 5pt 5pt 5pt 0;
  color: #8d958e;
  height: 50%;
  width: 70%;
}

.setting-label {
  margin: 5% 0 5% 5%;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.footer {
  grid-area: footer-info;
  margin-bottom: 0;
  justify-self: end;
  align-self: end;
  margin-right: 3%;
  flex-shrink: 0;
}

.break-focus {
  display: flex;
  margin-top: 5%;
  margin-bottom: 0;
}

#focus {
  color: #fafaf2;
  margin-bottom: 0;
  margin-right: 1%;
}

#relax {
  color: rgba(250, 250, 242, 0.2);
  margin-bottom: 0;
  margin-left: 1%;
}
