@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@500&display=swap');

body {
  background-color: #3a7766;
  font-family: 'Raleway', sans-serif;
  color: #fafaf2;
  font-size: 24px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer {
  font-family: 'Roboto', sans-serif;
  font-size: 250px;
  margin-top: 5%;
  margin-bottom: 0;
}

#stop {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  background-color: #56af97;
  border: none;
  color: #fafaf2;
  font-size: 48px;
  padding: 10px 70px 10px 70px;
  border-radius: 5px;
}

#stop:hover {
  box-shadow: 0 1px 2px #2c4a3f;
}

#bars {
  flex-basis: 85%;
}

#tasklist {
  display: none;
}

#taskbar {
  display: none;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #56af97;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#taskbar .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#info {
  display: none;
}

#settings {
  display: none;
}


/* Below are for tasklist */

/* the li element */
.task {
  display:flex;
  flex-direction: row;
  align-items: center
}

/* the p element*/
.taskLabel {
  margin-left: 10px;
  margin-right: 10px;
}

.deleteIcon {
  font-size: 40px;
  float: right;
  position: absolute; 
  right: 30px
}