
/* taskbar css */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@500&display=swap');

#taskbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fafaf2;
  color: #1F3029;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#taskbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f0f0f0;
  display: block;
  transition: 0.3s;
}

#taskbar a:hover {
  color: #9e9e9e;
}

#taskbar .close{
  position: inherit;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#taskbar > ol {
  list-style-type: none;
}


@media screen and (max-height: 450px) {
  #taskbar {
    padding-top: 15px;
  }

  #taskbar a {
    font-size: 18px;
  }
}


/* the li element */
.task {
  display:flex;
  flex-direction: row;
  align-items: center
}

/* the p element*/
.taskLabel {
  margin-left: 10px;
  margin-right: 10px;
}

.deleteIcon {
  font-size: 40px;
  float: right;
  position: absolute; 
  right: 30px;
  text-decoration: none;
  color: black
}

.task a:hover {
  color: #9e9e9e;
  transition: 0.3s;
}

